---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Market Day Greenwich College Melbourne">
	<main>
    <div class="sect-mv pt-12 pb-8">
      <div class="sect-mv__flex-container container">
        <div class="sect-mv__flex-item -header">
          <h1 class="sect-mv__title font-bold leading-none">Market Day</h1>
          <p class="sect-mv__theme mt-4 leading-none font-script">- Doctor Stranger -</p>
        </div>
        <div class="sect-mv__flex-item -image mt-2">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" is:raw></script>
          <lottie-player src="/nurse-red.json" background="Transparent" speed="1" style="width: 100%; aspect-ratio:1;" direction="1" mode="normal" loop autoplay></lottie-player>
        </div>
        <div class="sect-mv__flex-item -footer">
          <div class="bg-white w-max py-2 px-6 rounded-lg shadow-md">
            <p class="sect-mv__date text-left"><time datetime="2023-08-09"><span class="icon-calendar mr-2"></span>Wednesday, 9 Aug 2023</time></p>
            <p class="sect-mv__place text-left"><span class="icon-location mr-2"></span>120 Spencer St. Level 8</p>
            <p class="sect-mv__time text-left"><span class="icon-clock2 mr-2"></span>9 am - 3 pm</p>
          </div>
        </div>
      </div>
    </div>
  
		<section class="sect-about bg-white py-8 pt-12">
      <div class="container">
        <h2 class="font-bold text-2xl md:text-3xl pb-1 border-b-4 border-red-500 mb-6"><span class="icon-info mr-2 text-red-600"></span>What is the Market Day?</h2>
        <div class="md:flex">
          <div class="grow">
            <p>Market Day is a charity event in Greenwich College. It's organised by students in English for Business.</p>
            <p class="mt-4">You can buy foods, beverages and activities at the event.</p>
            <p class="mt-4">Our slogan is "Better health, better life". Profit is going to be donated to <a href="https://msf.org.au/" class="text-blue-600 underline">Médecins Sans Frontières (Doctors Without Borders)</a></p>
          </div>
          <div class="grow-0 shrink-0 min-w-[280px] flex justify-center align-center p-4 mt-4 md:mt-0">
            <a href="https://msf.org.au/">
              <img src="/logo-msf.png" width="280" alt="">
            </a>
          </div>
        </div>
        <div class="mt-8 p-4 rounded-lg shadow-lg bg-red-50">
          <p class="text-red-700 flex gap-1 align-start"><span class="icon-info mr-2 pt-1"></span><span>Please do not bring lunch on, we will provide you with delicious menus with affordable price.</span></p>
          <p class="mt-2 text-red-700 flex gap-1 align-start"><span class="icon-info mr-2 pt-1"></span><span>Please prepare CASH if you are inconvenience, we also have PAY ID for you.</span></p>
        </div>
      </div>
    </section>

    <section class="sect-menu py-8 bg-white">
      <div class="container">
        <h2 class="font-bold text-2xl md:text-3xl pb-1 border-b-4 border-red-500 mb-6"><span class="icon-dice mr-2 text-red-600"></span>Activity</h2>
        <dl class="activity-list">
          <div class="activity-list__set">
            <dt>Bottles &amp; rings</dt>
            <dd>comming soon...</dd>
          </div>
          <div class="activity-list__set">
            <dt>Bottles flip challenge</dt>
            <dd>comming soon...</dd>
          </div>
          <div class="activity-list__set">
            <dt>Wishing tree</dt>
            <dd>comming soon...</dd>
          </div>
          <div class="activity-list__set">
            <dt>Raffle</dt>
            <dd>comming soon...</dd>
          </div>
          <div class="activity-list__set">
            <dt>Photo booth</dt>
            <dd>comming soon...</dd>
          </div>
        </dl>
      </div>
    </section>

    <section class="sect-menu py-8 pb-12 bg-white">
      <div class="container">
        <h2 class="font-bold text-2xl md:text-3xl pb-1 border-b-4 border-red-500 mb-6"><span class="icon-spoon-knife mr-2 text-red-600"></span>Menu</h2>

        <div class="">
          <div class="mt-12">
            <h3 class="text-xl text-red-600 font-bold text-center md:text-left">Food</h3>
            <dl class="menu-list md:flex gap-8 text-center">
              <div class="menu-list__set">
                <dt>Pad Thai</dt>
                <dd><div class="text-center"><img src="/menu/pad-thai.jpg" width="200" height="200" alt=""></div></dd>
              </div>
              <div class="menu-list__set">
                <dt>Yogurt Fruits</dt>
                <dd><div class="text-center"><img src="/menu/yogurt-fruits.jpg" width="200" height="200" alt=""></div></dd>
              </div>
              <div class="menu-list__set">
                <dt>Toast (Butter + Sugar)</dt>
                <dd><div class="text-center"><img src="/menu/toast.jpg" width="200" height="200" alt=""></div></dd>
              </div>
            </dl>
          </div>
          <div class="mt-12">
            <h3 class="text-xl text-red-600 font-bold text-center md:text-left">Beverage</h3>
            <dl class="menu-list md:flex gap-8 text-center">
              <div class="menu-list__set">
                <dt>Thai Milk Tea</dt>
                <dd><div class="text-center"><img src="/menu/thai-milk-tea.jpg" width="200" height="200" alt=""></div></dd>
              </div>
              <div class="menu-list__set">
                <dt>Lemon Lime Bitter</dt>
                <dd><div class="text-center"><img src="/menu/lemon-lime-bitter.jpg" width="200" height="200" alt=""></div></dd>
              </div>
              <div class="menu-list__set">
                <dt>Red Syrub Soda</dt>
                <dd><div class="text-center"><img src="/menu/red-syrub-soda.jpg" width="200" height="200" alt=""></div></dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </section>
	</main>
</Layout>

<style>
	.sect-mv {
    width: 100vw;
    min-height: 85vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .sect-mv__flex-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .sect-mv__flex-item.-image {
    width: 100%;
    max-width: 360px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sect-mv__title {
    font-size: clamp(18px, 12vw, 100px);
    text-shadow:
      1px 0 0 white,
      -1px 0 0 white,
      0 1px 0 white,
      0 -1px 0 white,
      1px 1px 0 white,
      -1px -1px 0 white,
      -1px 1px 0 white,
      1px -1px 0 white;
  }
  .sect-mv__theme {
    font-size: clamp(16px, 6vw, 60px);
  }

  .sect-mv__date {
    font-size: clamp(13px, 3vw, 20px);
  }

  .sect-mv__place {
    font-size: clamp(13px, 3vw, 20px);
  }

  .sect-mv__time {
    font-size: clamp(13px, 3vw, 20px);
  }

  .activity-list__set {
    margin-top: 2em;
    display: flex;
    flex-flow: column;

    @screen sm {
      flex-flow: row nowrap;
      gap: 1em;
    }
  }


  .activity-list__set dt {
    font-weight: bold;
    min-width: 12em;
  }

  .menu-list__set {
    margin-top: 1em;
    display: flex;
    flex-flow: column-reverse;
  }
  .menu-list__set img {
    margin: auto;
  }
</style>
